### Groups of Functions in Pandas for Data Analysis

##### A. Creating Series and DataFrames
- I believe that we have learnt list and dictionary data strctures when we were learning python. Now, we want to learn how to use both list and dictionaries for creating Pandas Series and DataFrames.

**Creating a Pandas Series**

To do anything with pandas, the first thing to do is to import the pandas library as an alias.

* importing pandas package
```c
import pandas as pd
```
* Creating pandas series
```c
series = pd.Series(data)
```
* Creating pandas DataFrame
```c
dataframe = pd.DataFrame(data)

In [10]:
# Lets create a pandas Series using a python list

# Step 1: Import pandas package
import pandas as pd

# Step2: Define a list
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


# Step3: Create the Series
series = pd.Series(data)

# lets view the series that we have created
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
# lets confirm to be sure we had created a pandas series
type(series)

pandas.core.series.Series

In [12]:
# Lets create a series using the same list, but now we will be adding our own serial numbering, in python or pandas it is called index
series2 = pd.Series(data, index = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [13]:
# Lets create a series using python dictionary


# lets create a python dictionary
data2 = {'a': 10, 'b': 20, 'c': 30}

# lets create the series
series3 = pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

**Hands on practice:**
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a sample python dictionary of your biodata with 5 keys and their corresponding values. convert the dictionary into a pandas series

depending on where you are viewing this nootbook you are either to download it or make a copy

In [14]:
# 1.
bucket_list = ["Dubai", "Laptop", "Books", "Game pad", "Manchester", "Jotter"]

bucket_list_series = pd.Series(bucket_list, index=['a', 'b', 'c', 'd', 'e', 'f'])
bucket_list_series

a         Dubai
b        Laptop
c         Books
d      Game pad
e    Manchester
f        Jotter
dtype: object

In [15]:
# 2.
bio_data = {"Name": "Ademuyiwa", "Degree": "Software developer", "Gender": "Male", "Age": 15, "Interest": "AI Engineer"}

bio_data_series = pd.Series(bio_data)
bio_data_series

Name                 Ademuyiwa
Degree      Software developer
Gender                    Male
Age                         15
Interest           AI Engineer
dtype: object

**Creating a DataFrame**

import pandas as pd

* Create your list of list or dictionary
```c
data = []
#or
data = {}
```

* Create the dataframe using this syntax
```c
df = pd.DataFrame(data)
```

In [16]:
# Lets create a dataframe
# Step1: import pandas

# Define the data using dictionary that is having its values as a list.

data = {
    'Name': ['Chris', 'Ayo', 'Chisom'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# Lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data)
df.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [17]:
# lets do something by using list of dictionaries
data2 = [
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town': 'Enugu'}
]
# Lets define the dataframe
df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [18]:
# Lets do the something again using list of list

data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]
df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'])
df3.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [19]:
# lets print the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**Hands on practice**

* **Creating a dataset:**

Lets create a google sheet, make the link accessible to everyone to input the following information First_Name, Last_Name, Gender, Seat_No, City, Course_Track, PC_make, PC_Os, and Feedback.


[Click here to respond](https://forms.gle/8VQgWmvqQyiPEifY8)

At the end of the collection, we will use the data to practice data manipulation.
---

### B. Data Input and Output:

**To readin datasets we use**

```c
pd.read_csv() # for csv files

pd.read_excel() # for excel files
```

**Note**: There are many other methods for reading in different data files based on their extensions. we have .json, .txt, .sql, .html etc. If you are curious you could check them out.

**To save into csv file or excel file**

```c
df.to_csv()
```

To save to excel
```c
df.to_excel()
```

Usecase example
```c
bio_data.to_csv("bio_data.csv", index = False)
```

Here, we would download our generated data in csv format and in excel format. Then load it using the `pd.read_csv()`

Then we would inspect and explore the data.

In [20]:
from pathlib import Path
workspace = Path("workspace")
workspace.mkdir(exist_ok=True)

bio_data_path = workspace / "bio_data.csv"

In [21]:
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [22]:
# lets get to work...
df = pd.read_csv(bio_data_path)
df

                       Timestamp     First Name    Last Name                    Course Track       City  Gender Seat Number                       PC-Make  PC - OS                                           Feedback
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   Mac OS                                                non
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  Windows           Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female       00082                            HP  Windows                One chin chin for you for this form
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  Windows                      Thanks for creating the form.
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  Windows                                             On God
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female         001                            HP  Windows                                       None for now
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    Linux                                              Na wa
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  Windows  My gratitude to the sponsor of this program an...
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  Windows                                       None for now
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male          09                            HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  Windows                                       Satisfactory
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   Mac OS                               Awesome shit\r\n\r\n
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     kobape    Male           2                          ASUS  Windows                                         Feels good
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   Mac OS                            Delighted learning here
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   Mac OS          Coding is interesting when you understand
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male       dirty                       MACBOOK   Mac OS                               Nice to meet you all
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   abeokuta  Female          15                        LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  Windows                                                Nil

### C. Data Inspection and Exploration

To inspect our dataset we will beusing the following python methods
```c
.head() # To view the first 5 rows
```

```c
.tail() # To view the last 5 rows
```

```c
.info() # To check the information about the data
```

```c
.describe() # statistical summary
```

```c
.shape # Check the dimention of the dataset
```

```c
.columns # for checking the column names
```

In [23]:
df.head()

                      Timestamp First Name    Last Name Course Track      City  Gender Seat Number  PC-Make  PC - OS                                Feedback
0  2025/09/11 12:55:34 PM GMT+1      Peter      Okonmah           AI      Ogun    Male          28  MACBOOK   Mac OS                                     non
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa           AI  Abeokuta  Female          24       HP  Windows                               Excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa           AI     Lagos  Female          22       HP  Windows  Thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed           AI  Abeokuta    Male          44       HP  Windows                            Amazing Shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi           AI  Abeokuta    Male          35     DELL  Windows                           Brain Racking

In [24]:
df.tail()

                      Timestamp   First Name Last Name                    Course Track      City Gender Seat Number     PC-Make  PC - OS              Feedback
29  2025/09/11 1:06:03 PM GMT+1       Samuel   Dasaolu                              AI  Abeokuta   Male         100  HP;MACBOOK    Linux  Good so far, i guess
30  2025/09/11 1:06:48 PM GMT+1      Gabriel  Bamgbose                              AI  Abeokuta   Male           2          HP  Windows                  Good
31  2025/09/11 1:10:16 PM GMT+1  Ridwanullah      Osho  AI;Cyber Security;Data Science  Abeokuta   Male          45        DELL  Windows  IT IS WHAT IT IS !!!
32  2025/09/11 1:11:39 PM GMT+1  Oluwapelumi   Adenuga                         Web Dev  Abeokuta   Male          36          HP  Windows            live yours
33  2025/09/11 1:18:15 PM GMT+1      Michael   Osisami                              AI  Abeokuta   Male          12     DELL;HP  Windows                   Nil

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

In [26]:
df.describe()

                           Timestamp First Name Last Name Course Track      City Gender Seat Number PC-Make  PC - OS      Feedback
count                             34         34        34           34        34     34          34      34       34            34
unique                            33         33        34            7        11      2          31      10        3            32
top     2025/09/11 12:58:55 PM GMT+1     Samuel   Okonmah           AI  Abeokuta   Male           2      HP  Windows  None for now
freq                               2          2         1           24        22     26           2      19       27             3

In [27]:
df.shape

(34, 10)

In [28]:
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'], dtype='object')

### D. Data Cleaning

 Data cleaning involves identifying and handling errors or inconsistencies in your dataset. Later in this course, data cleaning would be handled in datails.

Handling Missing Values

```c
.isna() or .isnull() # Check for missing values
```

```c
.isna().sum()  # Check the total number of all missing values
```

```c
.fillna() # Fill up missing values
```

```c
.dropna() # Drop missing values
```

Correcting Data Types

In pandas there are two main types of datatypes, "integer" and "Object"

You can check data type using

```
df.dtypes
```

To convert the type of perform type casting, you use

```c
df.astype() # this takes in the datatype you want to convert it to as an argument
```

When working with time or time series dat its important to convert the time to pandas recognized time using

```c
pd.to_datatime() # takes in the data column as an argument
```

In [29]:
# Do we have any missing values? if yess, lets fill them uo

df.isna()
# df.isnull()

    Timestamp  First Name  Last Name  Course Track   City  Gender  Seat Number  PC-Make  PC - OS  Feedback
0       False       False      False         False  False   False        False    False    False     False
1       False       False      False         False  False   False        False    False    False     False
2       False       False      False         False  False   False        False    False    False     False
3       False       False      False         False  False   False        False    False    False     False
4       False       False      False         False  False   False        False    False    False     False
5       False       False      False         False  False   False        False    False    False     False
6       False       False      False         False  False   False        False    False    False     False
7       False       False      False         False  False   False        False    False    False     False
8       False       False      False         False  False   False        False    False    False     False
9       False       False      False         False  False   False        False    False    False     False
10      False       False      False         False  False   False        False    False    False     False
11      False       False      False         False  False   False        False    False    False     False
12      False       False      False         False  False   False        False    False    False     False
13      False       False      False         False  False   False        False    False    False     False
14      False       False      False         False  False   False        False    False    False     False
15      False       False      False         False  False   False        False    False    False     False
16      False       False      False         False  False   False        False    False    False     False
17      False       False      False         False  False   False        False    False    False     False
18      False       False      False         False  False   False        False    False    False     False
19      False       False      False         False  False   False        False    False    False     False
20      False       False      False         False  False   False        False    False    False     False
21      False       False      False         False  False   False        False    False    False     False
22      False       False      False         False  False   False        False    False    False     False
23      False       False      False         False  False   False        False    False    False     False
24      False       False      False         False  False   False        False    False    False     False
25      False       False      False         False  False   False        False    False    False     False
26      False       False      False         False  False   False        False    False    False     False
27      False       False      False         False  False   False        False    False    False     False
28      False       False      False         False  False   False        False    False    False     False
29      False       False      False         False  False   False        False    False    False     False
30      False       False      False         False  False   False        False    False    False     False
31      False       False      False         False  False   False        False    False    False     False
32      False       False      False         False  False   False        False    False    False     False
33      False       False      False         False  False   False        False    False    False     False

In [30]:
df.isna().sum()

Timestamp       0
First Name      0
Last Name       0
Course Track    0
City            0
Gender          0
Seat Number     0
PC-Make         0
PC - OS         0
Feedback        0
dtype: int64

In [31]:
df['First Name'].duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30    False
31    False
32    False
33    False
Name: First Name, dtype: bool

In [32]:
df.dtypes

Timestamp       object
First Name      object
Last Name       object
Course Track    object
City            object
Gender          object
Seat Number     object
PC-Make         object
PC - OS         object
Feedback        object
dtype: object

### E. Selection and Filtering

Viewing data column

In [33]:
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'], dtype='object')

Column selection

In [34]:
# Let's look through a single column
df['First Name']

# alternatively, we can use dot
# df.First_Name

0             Peter
1          Toyeebat
2         Perpetual
3            Mahfuz
4            Divine
5        Abdulmalik
6          Naheemot
7         Kanyisola
8          Blessing
9            Hannah
10          Deborah
11           Esther
12          Opeyemi
13      Olasunkanmi
14           Saheed
15         Kehinde
16          Oluwole
17           Samuel
18          Ademola
19           Victor
20           Sherif
21            Ayuba
22            Hamid
23          Olajide
24          Solomon
25    Oluwadamilare
26        Oluwaseyi
27           Adeoye
28        Babatunde
29           Samuel
30          Gabriel
31      Ridwanullah
32      Oluwapelumi
33          Michael
Name: First Name, dtype: object

In [35]:
# Lets select multiple columns
df[['First Name', 'Last Name']]

       First Name    Last Name
0           Peter      Okonmah
1        Toyeebat       Nababa
2       Perpetual      Meninwa
3          Mahfuz  Abdulhameed
4          Divine    Gbadamosi
5      Abdulmalik     Adedotun
6        Naheemot      Adebiyi
7       Kanyisola      Fagbayi
8        Blessing        James
9          Hannah     Tanimola
10        Deborah     Adelegan
11         Esther       Kudoro
12        Opeyemi      Odejimi
13    Olasunkanmi        Rasak
14         Saheed     Olayinka
15       Kehinde      Akindele
16        Oluwole      Oludayo
17         Samuel     Oyewusi
18        Ademola    Akinrinde
19         Victor    Ademuyiwa
20         Sherif  Okemakinde
21          Ayuba         Raji
22          Hamid        Jimoh
23        Olajide       Abioye
24        Solomon       Olaiya
25  Oluwadamilare        Bello
26      Oluwaseyi     Egunjobi
27         Adeoye         Mary
28      Babatunde       Rahmon
29         Samuel      Dasaolu
30        Gabriel     Bamgbose
31    Ridwanullah         Osho
32    Oluwapelumi      Adenuga
33        Michael      Osisami

In [36]:
# lets select more column
df[['First Name', 'City', 'Feedback']]

       First Name       City                                           Feedback
0           Peter       Ogun                                                non
1        Toyeebat   Abeokuta                                          Excellent
2       Perpetual      Lagos             Thank you so much for the opportunity.
3          Mahfuz   Abeokuta                                       Amazing Shit
4          Divine   Abeokuta                                      Brain Racking
5      Abdulmalik   Abeokuta                         Enjoying the course so far
6        Naheemot   Abeokuta           Grateful for the opportunity to be here.
7       Kanyisola      Lagos                One chin chin for you for this form
8        Blessing    Nairobi                      Thanks for creating the form.
9          Hannah   Abeokuta                                             On God
10        Deborah   Abeokuta                                       None for now
11         Esther   Abeokuta                                              Chill
12        Opeyemi   Abeokuta                                              Na wa
13    Olasunkanmi     Kobape  My gratitude to the sponsor of this program an...
14         Saheed   Abeokuta                                       None for now
15       Kehinde    Abeokuta                                              Great
16        Oluwole   Abeokuta                            Good training to attend
17         Samuel      Lagos                                       Satisfactory
18        Ademola   Abeokuta                               Awesome shit\r\n\r\n
19         Victor     kobape                                         Feels good
20         Sherif  Abeokuta                                         Form filled
21          Ayuba   Abeokuta                                       None for now
22          Hamid     Ibadan                                      I am curious
23        Olajide   Abeokuta  So far, i getting to familarize myself with nu...
24        Solomon   Abeokuta                            Delighted learning here
25  Oluwadamilare      Sango          Coding is interesting when you understand
26      Oluwaseyi  Cape Town                               Nice to meet you all
27         Adeoye   abeokuta                                   Still processing
28      Babatunde   Abeokuta  i actually have a pc that has a very low stora...
29         Samuel   Abeokuta                               Good so far, i guess
30        Gabriel   Abeokuta                                               Good
31    Ridwanullah   Abeokuta                               IT IS WHAT IT IS !!!
32    Oluwapelumi   Abeokuta                                         live yours
33        Michael   Abeokuta                                                Nil

Cell Selection

In [37]:
# lets select a single cell
df['First Name'][0] # This will return the first value of the "First Name" column

# lets try other methods for selecting cells
df.at[0, 'First Name']  # This will also return the first value of the "First Name" column

# There is still another method using .iat[]
df.iat[0, 0]    # This will return the first value of first column(row0,column0)

'2025/09/11 12:55:34 PM GMT+1'

Row selection

`iloc` is used to select rows/columns or rows and column using indexing slicing. This is very useful especially when your data best do not have labels(that is, row names and column names)

In [38]:
# Lets select some rows
df.iloc[0:5] # we are selecting from index 0 to the 5th index

                      Timestamp First Name    Last Name Course Track      City  Gender Seat Number  PC-Make  PC - OS                                Feedback
0  2025/09/11 12:55:34 PM GMT+1      Peter      Okonmah           AI      Ogun    Male          28  MACBOOK   Mac OS                                     non
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa           AI  Abeokuta  Female          24       HP  Windows                               Excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa           AI     Lagos  Female          22       HP  Windows  Thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed           AI  Abeokuta    Male          44       HP  Windows                            Amazing Shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi           AI  Abeokuta    Male          35     DELL  Windows                           Brain Racking

In [39]:
# combinatiion of row and column selection
df.iloc[0:5, 0:3] # the first slice picks the rows and the second slice picks the columns

                      Timestamp First Name    Last Name
0  2025/09/11 12:55:34 PM GMT+1      Peter      Okonmah
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi

Hands on practice

Find out when and how to use the `.loc` attribute. And apply it to the dataset.

In [40]:
# Lets select some rows using loc
df.loc[4]

Timestamp       2025/09/11 12:58:41 PM GMT+1
First Name                            Divine
Last Name                          Gbadamosi
Course Track                              AI
City                                Abeokuta
Gender                                  Male
Seat Number                               35
PC-Make                                 DELL
PC - OS                              Windows
Feedback                       Brain Racking
Name: 4, dtype: object

In [41]:
df.loc[4 : 6]

                      Timestamp  First Name  Last Name Course Track      City  Gender Seat Number PC-Make  PC - OS                                  Feedback
4  2025/09/11 12:58:41 PM GMT+1      Divine  Gbadamosi           AI  Abeokuta    Male          35    DELL  Windows                             Brain Racking
5  2025/09/11 12:58:55 PM GMT+1  Abdulmalik   Adedotun           AI  Abeokuta    Male         200      HP  Windows                Enjoying the course so far
6  2025/09/11 12:58:55 PM GMT+1    Naheemot    Adebiyi           AI  Abeokuta  Female          32    DELL  Windows  Grateful for the opportunity to be here.

In [42]:
df.loc[3:6, "First Name":"City"]

   First Name    Last Name Course Track      City
3      Mahfuz  Abdulhameed           AI  Abeokuta
4      Divine    Gbadamosi           AI  Abeokuta
5  Abdulmalik     Adedotun           AI  Abeokuta
6    Naheemot      Adebiyi           AI  Abeokuta

In [43]:
df.loc[:, "First Name": "City"]

       First Name    Last Name                    Course Track       City
0           Peter      Okonmah                              AI       Ogun
1        Toyeebat       Nababa                              AI   Abeokuta
2       Perpetual      Meninwa                              AI      Lagos
3          Mahfuz  Abdulhameed                              AI   Abeokuta
4          Divine    Gbadamosi                              AI   Abeokuta
5      Abdulmalik     Adedotun                              AI   Abeokuta
6        Naheemot      Adebiyi                              AI   Abeokuta
7       Kanyisola      Fagbayi                 AI;Data Science      Lagos
8        Blessing        James                  Cyber Security    Nairobi
9          Hannah     Tanimola                              AI   Abeokuta
10        Deborah     Adelegan                 AI;Data Science   Abeokuta
11         Esther       Kudoro                              AI   Abeokuta
12        Opeyemi      Odejimi                 Cloud Computing   Abeokuta
13    Olasunkanmi        Rasak                              AI     Kobape
14         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta
15       Kehinde      Akindele                 Cloud Computing   Abeokuta
16        Oluwole      Oludayo                              AI   Abeokuta
17         Samuel     Oyewusi                          Web Dev      Lagos
18        Ademola    Akinrinde                              AI   Abeokuta
19         Victor    Ademuyiwa                              AI     kobape
20         Sherif  Okemakinde                               AI  Abeokuta
21          Ayuba         Raji                              AI   Abeokuta
22          Hamid        Jimoh                              AI     Ibadan
23        Olajide       Abioye                              AI   Abeokuta
24        Solomon       Olaiya                              AI   Abeokuta
25  Oluwadamilare        Bello                              AI      Sango
26      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town
27         Adeoye         Mary                              AI   abeokuta
28      Babatunde       Rahmon                              AI   Abeokuta
29         Samuel      Dasaolu                              AI   Abeokuta
30        Gabriel     Bamgbose                              AI   Abeokuta
31    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta
32    Oluwapelumi      Adenuga                         Web Dev   Abeokuta
33        Michael      Osisami                              AI   Abeokuta

Conditional Fittering

In [44]:
# Filter rows where Gender is 'Female'. This is going to return dataframe
filtered_male = df[df['Gender'] == 'Male']
print("Rows where Gender  is 'Male':")
filtered_male

Rows where Gender  is 'Male':

                       Timestamp     First Name    Last Name                    Course Track       City Gender Seat Number                       PC-Make  PC - OS                                           Feedback
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun   Male          28                       MACBOOK   Mac OS                                                non
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta   Male          44                            HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta   Male          35                          DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta   Male         200                            HP  Windows                         Enjoying the course so far
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta   Male          30                            HP  Windows                                             On God
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta   Male          38                            HP    Linux                                              Na wa
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape   Male           3                            HP  Windows  My gratitude to the sponsor of this program an...
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta   Male          29                            HP  Windows                                       None for now
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta   Male          54                       Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta   Male          09                            HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos   Male          15                            HP  Windows                                       Satisfactory
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta   Male         100                       MACBOOK   Mac OS                               Awesome shit\r\n\r\n
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     kobape   Male           2                          ASUS  Windows                                         Feels good
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta    Male          27                            HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta   Male          26                            HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan   Male         299                          DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta   Male           5                            HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta   Male          16                       MACBOOK   Mac OS                            Delighted learning here
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango   Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   Mac OS          Coding is interesting when you understand
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town   Male       dirty                       MACBOOK   Mac OS                               Nice to meet you all
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta   Male          20                          none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta   Male         100                    HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta   Male           2                            HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta   Male          45                          DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta   Male          36                            HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta   Male          12                       DELL;HP  Windows                                                Nil

In [45]:
# Filter rows where city is 'Lagos' and Course_Track is 'AI'
filtered_city = df[(df['City'] == 'Lagos') & (df['Course Track'] == 'AI')]
print("Rows where City is 'Lagos' and Course Track is AI:")
filtered_city

Rows where City is 'Lagos' and Course Track is AI:

                      Timestamp First Name Last Name Course Track   City  Gender Seat Number PC-Make  PC - OS                                Feedback
2  2025/09/11 12:57:08 PM GMT+1  Perpetual   Meninwa           AI  Lagos  Female          22      HP  Windows  Thank you so much for the opportunity.

In [46]:
# Filter rows where city is either 'Lagos' or 'Abuja'
cities = ['Lagos', 'kobape']
city_fillered = df[df['City'].isin(cities)]
print("Rows where city is either 'Lagos', or 'Kobape':")
city_fillered

Rows where city is either 'Lagos', or 'Kobape':

                       Timestamp First Name  Last Name     Course Track    City  Gender Seat Number PC-Make  PC - OS                                Feedback
2   2025/09/11 12:57:08 PM GMT+1  Perpetual    Meninwa               AI   Lagos  Female          22      HP  Windows  Thank you so much for the opportunity.
7   2025/09/11 12:59:00 PM GMT+1  Kanyisola    Fagbayi  AI;Data Science   Lagos  Female       00082      HP  Windows     One chin chin for you for this form
17   2025/09/11 1:00:49 PM GMT+1     Samuel   Oyewusi           Web Dev   Lagos    Male          15      HP  Windows                            Satisfactory
19   2025/09/11 1:01:31 PM GMT+1     Victor  Ademuyiwa               AI  kobape    Male           2    ASUS  Windows                              Feels good

Using the .query()method

In [47]:
# # Changing the column name
# df.columns = ['Timestamp', 'first_name', 'last_name', 'course_track', 'city', 'gender', 'seat_number', 'pc_make', 'pc_os', 'Feedback']
# df

In [48]:
# Use query() to filter rows where course_track is 'AI and Feedback is 'None for now'
query_filtered = df.query("`Course Track` == 'AI' and Feedback == 'None for now'")
print("Rows filtered using query() method:")
query_filtered

Rows filtered using query() method:

                      Timestamp First Name Last Name Course Track      City Gender Seat Number PC-Make  PC - OS      Feedback
21  2025/09/11 1:01:46 PM GMT+1      Ayuba      Raji           AI  Abeokuta   Male          26      HP  Windows  None for now

In [49]:
# Filter rows where course_track is 'web_dev'
web_dev = df.query("`Course Track` == 'Web Dev'")
print("Students in the Data science track:")
web_dev

Students in the Data science track:

                      Timestamp   First Name Last Name Course Track      City Gender Seat Number PC-Make  PC - OS      Feedback
17  2025/09/11 1:00:49 PM GMT+1       Samuel  Oyewusi       Web Dev     Lagos   Male          15      HP  Windows  Satisfactory
32  2025/09/11 1:11:39 PM GMT+1  Oluwapelumi   Adenuga      Web Dev  Abeokuta   Male          36      HP  Windows    live yours

In [50]:
# Clean seat number (remove non-numeric, fill with missing number -1)
df['Seat Number'] = pd.to_numeric(df['Seat Number'], errors='coerce').fillna(0).astype(int)

df['Seat Number']

0        28
1        24
2        22
3        44
4        35
5       200
6        32
7        82
8     45678
9        30
10        1
11        1
12       38
13        3
14       29
15       54
16        9
17       15
18      100
19        2
20       27
21       26
22      299
23        5
24       16
25      373
26        0
27       15
28       20
29      100
30        2
31       45
32       36
33       12
Name: Seat Number, dtype: int64

In [51]:
# Filter rows using multiple conditions with logical operators
webdev_high_seat_No = df.query("`Seat Number` > 20 and `Course Track` == 'Web Dev'")
print("Web Dev students with SeatNo greater than")
webdev_high_seat_No

# or
# df['seat_number'].astype(int)
# ai_high_seat_No = df.query("seat_number > 20 and course_track == 'Web Dev'")
# print("Web Dev students with SeatNo greater than")
# ai_high_seat_No

Web Dev students with SeatNo greater than

                      Timestamp   First Name Last Name Course Track      City Gender  Seat Number PC-Make  PC - OS    Feedback
32  2025/09/11 1:11:39 PM GMT+1  Oluwapelumi   Adenuga      Web Dev  Abeokuta   Male           36      HP  Windows  live yours

In [52]:
# Filter rows where PC_make is either 'Hp', 'Dell'
hp_dell = df.query("`PC-Make` in ['HP', 'DELL']")
print("Rows where pc_make is either HP or Dell:")
hp_dell

Rows where pc_make is either HP or Dell:

                       Timestamp   First Name    Last Name                    Course Track       City  Gender  Seat Number PC-Make  PC - OS                                           Feedback
1   2025/09/11 12:56:11 PM GMT+1     Toyeebat       Nababa                              AI   Abeokuta  Female           24      HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1    Perpetual      Meninwa                              AI      Lagos  Female           22      HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1       Mahfuz  Abdulhameed                              AI   Abeokuta    Male           44      HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1       Divine    Gbadamosi                              AI   Abeokuta    Male           35    DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1   Abdulmalik     Adedotun                              AI   Abeokuta    Male          200      HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1     Naheemot      Adebiyi                              AI   Abeokuta  Female           32    DELL  Windows           Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1    Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female           82      HP  Windows                One chin chin for you for this form
8   2025/09/11 12:59:16 PM GMT+1     Blessing        James                  Cyber Security    Nairobi  Female        45678      HP  Windows                      Thanks for creating the form.
9   2025/09/11 12:59:28 PM GMT+1       Hannah     Tanimola                              AI   Abeokuta    Male           30      HP  Windows                                             On God
10  2025/09/11 12:59:41 PM GMT+1      Deborah     Adelegan                 AI;Data Science   Abeokuta  Female            1      HP  Windows                                       None for now
11  2025/09/11 12:59:43 PM GMT+1       Esther       Kudoro                              AI   Abeokuta  Female            1      HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1      Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male           38      HP    Linux                                              Na wa
13   2025/09/11 1:00:13 PM GMT+1  Olasunkanmi        Rasak                              AI     Kobape    Male            3      HP  Windows  My gratitude to the sponsor of this program an...
14   2025/09/11 1:00:27 PM GMT+1       Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male           29      HP  Windows                                       None for now
16   2025/09/11 1:00:43 PM GMT+1      Oluwole      Oludayo                              AI   Abeokuta    Male            9      HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1       Samuel     Oyewusi                          Web Dev      Lagos    Male           15      HP  Windows                                       Satisfactory
20   2025/09/11 1:01:44 PM GMT+1       Sherif  Okemakinde                               AI  Abeokuta     Male           27      HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1        Ayuba         Raji                              AI   Abeokuta    Male           26      HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1        Hamid        Jimoh                              AI     Ibadan    Male          299    DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1      Olajide       Abioye                              AI   Abeokuta    Male            5      HP  Windows  So far, i getting to familarize myself with nu...
30   2025/09/11 1:06:48 PM GMT+1      Gabriel     Bamgbose                              AI   Abeokuta    Male            2      HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1  Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male           45    DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1  Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male           36      HP  Windows                                         live yours

Sometimes we may want to use a Python variable inside our query. It can be done by prefixing the variable with an @ symbol

In [53]:
# Define a variable for the course track
desired_track = 'Web Dev'

# Use the variable in the query expression
web_dev_students = df.query("`Course Track` == @desired_track")
print("Student in the Web Dev track:")
web_dev_students

Student in the Web Dev track:

                      Timestamp   First Name Last Name Course Track      City Gender  Seat Number PC-Make  PC - OS      Feedback
17  2025/09/11 1:00:49 PM GMT+1       Samuel  Oyewusi       Web Dev     Lagos   Male           15      HP  Windows  Satisfactory
32  2025/09/11 1:11:39 PM GMT+1  Oluwapelumi   Adenuga      Web Dev  Abeokuta   Male           36      HP  Windows    live yours

lets filter rows where Feedback is not 'None for now' and City is 'Abeokuta'

In [54]:
# Filter rows where Feedback is not 'Poor' and City is 'Abeokuta'
good_feedback_abeokuta = df.query("Feedback != 'None for now' and City == 'Abeokuta'")
print("Student in Abeokuta with Feedback other than 'None for now':")
good_feedback_abeokuta

Student in Abeokuta with Feedback other than 'None for now':

                       Timestamp   First Name    Last Name                    Course Track      City  Gender  Seat Number     PC-Make  PC - OS                                           Feedback
1   2025/09/11 12:56:11 PM GMT+1     Toyeebat       Nababa                              AI  Abeokuta  Female           24          HP  Windows                                          Excellent
3   2025/09/11 12:57:56 PM GMT+1       Mahfuz  Abdulhameed                              AI  Abeokuta    Male           44          HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1       Divine    Gbadamosi                              AI  Abeokuta    Male           35        DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1   Abdulmalik     Adedotun                              AI  Abeokuta    Male          200          HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1     Naheemot      Adebiyi                              AI  Abeokuta  Female           32        DELL  Windows           Grateful for the opportunity to be here.
9   2025/09/11 12:59:28 PM GMT+1       Hannah     Tanimola                              AI  Abeokuta    Male           30          HP  Windows                                             On God
11  2025/09/11 12:59:43 PM GMT+1       Esther       Kudoro                              AI  Abeokuta  Female            1          HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1      Opeyemi      Odejimi                 Cloud Computing  Abeokuta    Male           38          HP    Linux                                              Na wa
15   2025/09/11 1:00:31 PM GMT+1     Kehinde      Akindele                 Cloud Computing  Abeokuta    Male           54     Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1      Oluwole      Oludayo                              AI  Abeokuta    Male            9          HP  Windows                            Good training to attend
18   2025/09/11 1:00:54 PM GMT+1      Ademola    Akinrinde                              AI  Abeokuta    Male          100     MACBOOK   Mac OS                               Awesome shit\r\n\r\n
23   2025/09/11 1:02:28 PM GMT+1      Olajide       Abioye                              AI  Abeokuta    Male            5          HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1      Solomon       Olaiya                              AI  Abeokuta    Male           16     MACBOOK   Mac OS                            Delighted learning here
28   2025/09/11 1:03:36 PM GMT+1    Babatunde       Rahmon                              AI  Abeokuta    Male           20        none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1       Samuel      Dasaolu                              AI  Abeokuta    Male          100  HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1      Gabriel     Bamgbose                              AI  Abeokuta    Male            2          HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1  Ridwanullah         Osho  AI;Cyber Security;Data Science  Abeokuta    Male           45        DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1  Oluwapelumi      Adenuga                         Web Dev  Abeokuta    Male           36          HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1      Michael      Osisami                              AI  Abeokuta    Male           12     DELL;HP  Windows                                                Nil

In [55]:
# Trying to drop row where the seat number is str
# df['seat_number'] = pd.to_numeric(df['seat_number'], errors='coerce')
# df['seat_number']
# Lets creat a more complex query filter for course_track, Feedback and seat_number
complex_query = df.query("`Course Track` == 'AI' or (Feedback == 'Excellent' and `Seat Number` < 155)")
print("Complex query result:")
complex_query

Complex query result:

                       Timestamp     First Name    Last Name Course Track       City  Gender  Seat Number                       PC-Make  PC - OS                                           Feedback
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah           AI       Ogun    Male           28                       MACBOOK   Mac OS                                                non
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa           AI   Abeokuta  Female           24                            HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa           AI      Lagos  Female           22                            HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed           AI   Abeokuta    Male           44                            HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi           AI   Abeokuta    Male           35                          DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun           AI   Abeokuta    Male          200                            HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi           AI   Abeokuta  Female           32                          DELL  Windows           Grateful for the opportunity to be here.
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola           AI   Abeokuta    Male           30                            HP  Windows                                             On God
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro           AI   Abeokuta  Female            1                            HP  Windows                                              Chill
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak           AI     Kobape    Male            3                            HP  Windows  My gratitude to the sponsor of this program an...
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo           AI   Abeokuta    Male            9                            HP  Windows                            Good training to attend
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde           AI   Abeokuta    Male          100                       MACBOOK   Mac OS                               Awesome shit\r\n\r\n
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa           AI     kobape    Male            2                          ASUS  Windows                                         Feels good
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde            AI  Abeokuta     Male           27                            HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji           AI   Abeokuta    Male           26                            HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh           AI     Ibadan    Male          299                          DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye           AI   Abeokuta    Male            5                            HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya           AI   Abeokuta    Male           16                       MACBOOK   Mac OS                            Delighted learning here
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello           AI      Sango    Male          373  DELL;HP;LENOVO;MACBOOK;ASUS;   Mac OS          Coding is interesting when you understand
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary           AI   abeokuta  Female           15                        LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon           AI   Abeokuta    Male           20                          none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu           AI   Abeokuta    Male          100                    HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose           AI   Abeokuta    Male            2                            HP  Windows                                               Good
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami           AI   Abeokuta    Male           12                       DELL;HP  Windows                                                Nil

### Data Transformation

Renaming Column Name

In [56]:
# Lets modify the column names by fixing the old names as keys and the new name as values
df.rename(columns={'First Name': 'FirstName', 'Last Name': 'LastName', 'Course Track': 'CourseTrack', 'Seat Number': 'SeatNumber', 'PC-Make': 'PC_Make', 'PC - OS': 'Pc_Os'})

# You can try renaming all the columns by removing all the underscores

                       Timestamp      FirstName     LastName                     CourseTrack       City  Gender  SeatNumber                       PC_Make    Pc_Os                                           Feedback
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   Mac OS                                                non
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  Windows           Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female          82                            HP  Windows                One chin chin for you for this form
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  Windows                      Thanks for creating the form.
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  Windows                                             On God
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female           1                            HP  Windows                                       None for now
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    Linux                                              Na wa
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  Windows  My gratitude to the sponsor of this program an...
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  Windows                                       None for now
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male           9                            HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  Windows                                       Satisfactory
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   Mac OS                               Awesome shit\r\n\r\n
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     kobape    Male           2                          ASUS  Windows                                         Feels good
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   Mac OS                            Delighted learning here
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   Mac OS          Coding is interesting when you understand
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male           0                       MACBOOK   Mac OS                               Nice to meet you all
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   abeokuta  Female          15                        LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  Windows                                                Nil

Applying String Methods

The `.str` is a string accessor used along siide with the normal methods for manipuating strings such as `.upper()`, `.lower()`, `.title()` etc.

But lets see how they are combined;

```c
.str.upper() # This converts to upper cases or capital letter
```

```c
.str.lower() # This converts to lower cases or small letters
```


```c
.str.title() # This converts to title cases or capitalize first letter of each word
```


```c
.str.strip() # This removes white space before and after a string
```


```c
.str.split() # This splits an iterable into its component parts such as splitting a word into letters and splitting sentences into words using a delimiter.
```

```c
.str.len() # This is used to check the length of an iterable.
```


```c
.str.replace() # This is similar to the find and replace method in excel. It is used for replacing a strings.
```


```c
.str.contains() # This checks if a substrinng is available in a string
```


```c
.str.join() # This is used to join elements of a list into a single string.
```

```c
.str.slice() # This is used to slice strings at a specied index position
```
All of these methods will come very handing during data cleaning and data preprocessing for text data.

Lets apply some of the string methods.

**Note**: To apply some to the entire dataset, we have to define a function(lambda function)

In [57]:
# Lets apply some of the methods to our dataset
# df['Feedback'] = df['Feedback'].str.lower() # Here we are converting everyrhing to small letters.
# # Changing the column name
df.columns = ['Timestamp', 'FirstName', 'LastName', 'CourseTrack', 'City', 'Gender', 'SeatNumber', 'Pc_Make', 'Pc_Os', 'Feedback']
# df
df

                       Timestamp      FirstName     LastName                     CourseTrack       City  Gender  SeatNumber                       Pc_Make    Pc_Os                                           Feedback
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   Mac OS                                                non
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  Windows           Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female          82                            HP  Windows                One chin chin for you for this form
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  Windows                      Thanks for creating the form.
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  Windows                                             On God
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female           1                            HP  Windows                                       None for now
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    Linux                                              Na wa
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  Windows  My gratitude to the sponsor of this program an...
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  Windows                                       None for now
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male           9                            HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  Windows                                       Satisfactory
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   Mac OS                               Awesome shit\r\n\r\n
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     kobape    Male           2                          ASUS  Windows                                         Feels good
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   Mac OS                            Delighted learning here
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   Mac OS          Coding is interesting when you understand
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male           0                       MACBOOK   Mac OS                               Nice to meet you all
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   abeokuta  Female          15                        LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  Windows                                                Nil

In [58]:
# Lets apply some of the methods to our dataset
df["Feedback"] = df["Feedback"].str.lower() # Here we are converting everything to small letters.

In [59]:
# lets convert the "Pc_Os" to upper case
df["Pc_Os"] = df["Pc_Os"].str.upper() # Here we are converting evertything to small letters.

In [60]:
# Lets convert the "FirstName"
df["FirstName"] = df["FirstName"].str.title() # Here we are converting the first letters to capital

In [61]:
# Lets view to see if it has applied
df.head()

                      Timestamp  FirstName     LastName CourseTrack      City  Gender  SeatNumber  Pc_Make    Pc_Os                                Feedback
0  2025/09/11 12:55:34 PM GMT+1      Peter      Okonmah          AI      Ogun    Male          28  MACBOOK   MAC OS                                     non
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa          AI  Abeokuta  Female          24       HP  WINDOWS                               excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa          AI     Lagos  Female          22       HP  WINDOWS  thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed          AI  Abeokuta    Male          44       HP  WINDOWS                            amazing shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi          AI  Abeokuta    Male          35     DELL  WINDOWS                           brain racking

In [62]:
# Lets define a lambda function
# lambda x: x.str.title()

# The .apply() method will help apply the function to the selected columns
# df[col] = df[col].apply(lambda x: x.str.title())

In [63]:
# We can decide to apply the lambda function to every element in the dataset
# df.applymap(lambda x: x.str.title())

**Assignment**

1. Do a research on `.str.nomalize()` method. Write a 100 words summary of your findings.

2. Look for a accented yoruba text data online, apply the `str.normalize()` method on the dataset and submit before next class.
3. Try out other string operations for tranforming text or string data listed above.

**Parameters**
- form: The Unicode normalization form to apply. Options include:
- 'NFC': Normalization Form C (Canonical Composition).
- 'NFD': Normalization Form D (Canonical Decomposition).
- 'NFKC': Compatibility Composition.
- 'NFKD': Compatibility Decomposition.

Output
For the above example, the output will show the normalized forms of the strings, ensuring consistent representation.

This method is particularly helpful when dealing with multilingual datasets or ensuring text consistency for comparison or storage.

In [64]:
# Example useage
# Example Series with accented characters
data = pd.Series(['café', 'naïve', 'résumé'])

# Normalize to NFC (Canonical Composition)
normalized_data = data.str.normalize('NFC')
print(normalized_data)

# Normalize to NFD (Canonical Decomposition)
decomposed_data = data.str.normalize('NFD')
print(decomposed_data)

0      café
1     naïve
2    résumé
dtype: object
0       café
1      naïve
2    résumé
dtype: object

Sorting Values

You can use the `.sort_values()` to sort the dataframe by one or multiple columns.

Below is a typical example of how to use `sort_values()`
```c
bio_data.sort_values(by, axis=1, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False)

# in pandas, axis 0 represents rows
# axis 1 represents columns
# inplace= True, makes the change permament
# na_position = "first", signifies where to put the Nan values

```

In [ ]:
df['City'] = df['City'].str.title()

# Sorting colums
df.sort_values(by='City', ascending=True)

                       Timestamp      FirstName     LastName                     CourseTrack       City  Gender  SeatNumber                       Pc_Make    Pc_Os                                           Feedback
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male           9                            HP  WINDOWS                            good training to attend
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  WINDOWS                               it is what it is !!!
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  WINDOWS                                               good
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    LINUX                               good so far, i guess
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  WINDOWS  i actually have a pc that has a very low stora...
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   Abeokuta  Female          15                        LENOVO  WINDOWS                                   still processing
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   MAC OS                            delighted learning here
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  WINDOWS  so far, i getting to familarize myself with nu...
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  WINDOWS                                       none for now
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   MAC OS                               awesome shit\r\n\r\n
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  WINDOWS                                         live yours
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  WINDOWS                                              great
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  WINDOWS                                       none for now
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  WINDOWS                                                nil
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    LINUX                                              na wa
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  WINDOWS                                              chill
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female           1                            HP  WINDOWS                                       none for now
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  WINDOWS                                          excellent
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  WINDOWS                                             on god
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  WINDOWS           grateful for the opportunity to be here.
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  WINDOWS                                       amazing shit
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  WINDOWS                         enjoying the course so far
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  WINDOWS                                      brain racking
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  WINDOWS                                        form filled
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male           0                       MACBOOK   MAC OS                               nice to meet you all
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  WINDOWS                                      i am curious
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     Kobape    Male           2                          ASUS  WINDOWS                                         feels good
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  WINDOWS  my gratitude to the sponsor of this program an...
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  WINDOWS             thank you so much for the opportunity.
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female          82                            HP  WINDOWS                one chin chin for you for this form
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  WINDOWS                                       satisfactory
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  WINDOWS                      thanks for creating the form.
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   MAC OS                                                non
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   MAC OS          coding is interesting when you understand

In [71]:
df['LastName'] = df['LastName'].str.title()

# lets sort by multiple columns
df.sort_values(by=['LastName', 'City'], ascending=[True, False])

                       Timestamp      FirstName     LastName                     CourseTrack       City  Gender  SeatNumber                       Pc_Make    Pc_Os                                           Feedback
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  WINDOWS                                       amazing shit
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  WINDOWS  so far, i getting to familarize myself with nu...
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  WINDOWS           grateful for the opportunity to be here.
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  WINDOWS                         enjoying the course so far
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female           1                            HP  WINDOWS                                       none for now
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     Kobape    Male           2                          ASUS  WINDOWS                                         feels good
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  WINDOWS                                         live yours
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  WINDOWS                                              great
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   MAC OS                               awesome shit\r\n\r\n
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  WINDOWS                                               good
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   MAC OS          coding is interesting when you understand
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    LINUX                               good so far, i guess
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male           0                       MACBOOK   MAC OS                               nice to meet you all
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female          82                            HP  WINDOWS                one chin chin for you for this form
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  WINDOWS                                      brain racking
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  WINDOWS                      thanks for creating the form.
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  WINDOWS                                      i am curious
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  WINDOWS                                              chill
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   Abeokuta  Female          15                        LENOVO  WINDOWS                                   still processing
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  WINDOWS             thank you so much for the opportunity.
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  WINDOWS                                          excellent
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    LINUX                                              na wa
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  WINDOWS                                        form filled
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   MAC OS                                                non
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   MAC OS                            delighted learning here
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  WINDOWS                                       none for now
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male           9                            HP  WINDOWS                            good training to attend
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  WINDOWS                               it is what it is !!!
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  WINDOWS                                                nil
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  WINDOWS                                       satisfactory
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  WINDOWS  i actually have a pc that has a very low stora...
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  WINDOWS                                       none for now
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  WINDOWS  my gratitude to the sponsor of this program an...
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  WINDOWS                                             on god

Sorting by row labels or index

To sort the dataframe by its index or row label the `.sort_index()` method is used.

How to use `.sort_index()` method

```c
bio_data.sort_index(axis = 0, level = None, ascending = False, inplace = False, sort_remaining = True)
```

In [72]:
df.sort_index(axis=0, level= None, ascending= False, inplace= False, sort_remaining= True)

                       Timestamp      FirstName     LastName                     CourseTrack       City  Gender  SeatNumber                       Pc_Make    Pc_Os                                           Feedback
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  WINDOWS                                                nil
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  WINDOWS                                         live yours
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  WINDOWS                               it is what it is !!!
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  WINDOWS                                               good
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    LINUX                               good so far, i guess
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  WINDOWS  i actually have a pc that has a very low stora...
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   Abeokuta  Female          15                        LENOVO  WINDOWS                                   still processing
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male           0                       MACBOOK   MAC OS                               nice to meet you all
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   MAC OS          coding is interesting when you understand
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   MAC OS                            delighted learning here
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  WINDOWS  so far, i getting to familarize myself with nu...
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  WINDOWS                                      i am curious
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  WINDOWS                                       none for now
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  WINDOWS                                        form filled
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     Kobape    Male           2                          ASUS  WINDOWS                                         feels good
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   MAC OS                               awesome shit\r\n\r\n
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  WINDOWS                                       satisfactory
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male           9                            HP  WINDOWS                            good training to attend
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  WINDOWS                                              great
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  WINDOWS                                       none for now
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  WINDOWS  my gratitude to the sponsor of this program an...
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    LINUX                                              na wa
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  WINDOWS                                              chill
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female           1                            HP  WINDOWS                                       none for now
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  WINDOWS                                             on god
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  WINDOWS                      thanks for creating the form.
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female          82                            HP  WINDOWS                one chin chin for you for this form
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  WINDOWS           grateful for the opportunity to be here.
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  WINDOWS                         enjoying the course so far
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  WINDOWS                                      brain racking
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  WINDOWS                                       amazing shit
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  WINDOWS             thank you so much for the opportunity.
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  WINDOWS                                          excellent
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   MAC OS                                                non

**If you are curious...try experimenting with this..**

The sort_values() method has a **kind** parameter that allows you to specify which sorting algorithm to use. The available options are:

`quicksort` (This is the default)
`mergesort`
`heapsort`
This can be useful if you are working with very large datasets and need a specific sorting algorithm.
```c
bio_data.sort_values(by='Seat_No', kind='mergesort')
```

In [73]:
df.sort_values(by='SeatNumber', kind='mergesort')

                       Timestamp      FirstName     LastName                     CourseTrack       City  Gender  SeatNumber                       Pc_Make    Pc_Os                                           Feedback
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male           0                       MACBOOK   MAC OS                               nice to meet you all
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female           1                            HP  WINDOWS                                       none for now
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  WINDOWS                                              chill
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                              AI     Kobape    Male           2                          ASUS  WINDOWS                                         feels good
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  WINDOWS                                               good
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  WINDOWS  my gratitude to the sponsor of this program an...
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  WINDOWS  so far, i getting to familarize myself with nu...
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male           9                            HP  WINDOWS                            good training to attend
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  WINDOWS                                                nil
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  WINDOWS                                       satisfactory
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   Abeokuta  Female          15                        LENOVO  WINDOWS                                   still processing
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   MAC OS                            delighted learning here
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  WINDOWS  i actually have a pc that has a very low stora...
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  WINDOWS             thank you so much for the opportunity.
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  WINDOWS                                          excellent
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  WINDOWS                                       none for now
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  WINDOWS                                        form filled
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   MAC OS                                                non
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  WINDOWS                                       none for now
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  WINDOWS                                             on god
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  WINDOWS           grateful for the opportunity to be here.
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  WINDOWS                                      brain racking
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  WINDOWS                                         live yours
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    LINUX                                              na wa
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  WINDOWS                                       amazing shit
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  WINDOWS                               it is what it is !!!
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  WINDOWS                                              great
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female          82                            HP  WINDOWS                one chin chin for you for this form
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   MAC OS                               awesome shit\r\n\r\n
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    LINUX                               good so far, i guess
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  WINDOWS                         enjoying the course so far
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  WINDOWS                                      i am curious
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   MAC OS          coding is interesting when you understand
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  WINDOWS                      thanks for creating the form.

### G. Grouping and Aggregation

When it comes to data analysis, grouping and aggregating the data is very useful for insight gathering.

In this section, I will be creating a custom dataset manually to illustrate the examples.

Before that,lets explain some concepts.
For grouping in pandas, we make use of the `groupby()` function. This allows for quick analysis and summarization of our dataset regardless of the size.

How does it work? The function splits thedataset into groups based on the selected column and _applies a function_ to each of the groups, then combine the results.

What are the functions that are applied to it? They are the aggregation functions,
we have the `.agg({})` method and other aggragation functions, which include;

```c
.sum() #Sum of values
.mean() #Mean of values
.median() #Median value
.count() #Number of non-null values
.min() #Minimum value
.max() #Maximum value
.std() #Standard deviation
.var() #Variance
.nunique() #Number of unique values
.get_group() # To retrieve a single group by key
```
The `.agg({})` takes in a key-value pair  of column name and an aggregation function as an argument which could be one or more depending on what you are working on. When using the aggregating functions with the agg({}) method dictionary we dont usually add the round brackets.

Lets create the dataset for our pratice example.

In [74]:
# Lets manually create a bio_data sample data
bio = {
    'First_Name': ['Emeka', 'Aisha', 'Ayo', 'Chinedu', 'Fatima', 'Ibrahim', 'Ngozi', 'Tolu', 'Olamide', 'Yusuf',
                   'Ada', 'Kunle', 'Mercy', 'Segun', 'Zainab', 'Donald', 'Kemi', 'Usman', 'Funmi', 'Chika'],
    'Last_Name': ['Julius', 'Bello', 'Adewale', 'Godswill', 'Abubakar', 'David', 'Collins', 'Ogunleye', 'Adepoju', 'Garba',
                  'Umeh', 'Ojo', 'Musa', 'Balogun', 'Mohammed', 'Obi', 'Adebayo', 'Suleiman', 'Williams', 'Micheal'],
    'Gender': ['Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male',
               'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Seat_No': range(101, 121),
    'City': ['Lagos', 'Abuja', 'Ibadan', 'Enugu', 'Kano', 'Benin', 'Port Harcourt', 'Abeokuta', 'Benin', 'Abeokuta',
             'Lagos', 'Abeokuta', 'Lagos', 'Ibadan', 'Abuja', 'Port Harcourt', 'Benin', 'Jos', 'Calabar', 'Onitsha'],
    'Course_Track': ['Data Science', 'Cloud Computing', 'Cybersecurity', 'AI', 'Data Science', 'Cloud Computing',
                     'Web Dev', 'AI', 'Cybersecurity', 'AI', 'Data Science', 'Web Dev',
                     'Cybersecurity', 'AI', 'Cloud Computing', 'Data Science', 'Web Dev', 'Data Science',
                     'Data Science', 'Cloud Computing'],
    'PC_make': ['HP', 'Dell', 'HP', 'Asus', 'Apple', 'HP', 'Dell', 'Lenovo', 'Asus', 'Apple',
                'HP', 'Dell', 'Lenovo', 'Asus', 'Dell', 'HP', 'Dell', 'Lenovo', 'Asus', 'Apple'],
    'PC_Os': ['Windows', 'Linux', 'Windows', 'Windows', 'Linux', 'MacOS', 'Windows', 'Linux', 'MacOS', 'Windows',
              'Linux', 'MacOS', 'Windows', 'Linux', 'MacOS', 'Windows', 'Linux', 'MacOS', 'Windows', 'Linux'],
    'Feedback': ['Good', 'Excellent', 'Excellent', 'Good', 'Poor', 'Excellent', 'Good', 'Average', 'Good', 'Excellent',
                 'Good', 'Poor', 'Average', 'Excellent', 'Good', 'Average', 'Excellent', 'Good', 'Good', 'Excellent']
}

In [75]:
# Lets convert it to dataframe first
bio_data = pd.DataFrame(bio)

In [76]:
bio_data.head()

  First_Name Last_Name  Gender  Seat_No    City     Course_Track PC_make    PC_Os   Feedback
0      Emeka    Julius    Male      101   Lagos     Data Science      HP  Windows       Good
1      Aisha     Bello  Female      102   Abuja  Cloud Computing    Dell    Linux  Excellent
2        Ayo   Adewale    Male      103  Ibadan    Cybersecurity      HP  Windows  Excellent
3    Chinedu  Godswill    Male      104   Enugu               AI    Asus  Windows       Good
4     Fatima  Abubakar  Female      105    Kano     Data Science   Apple    Linux       Poor

In [77]:
# Lets save it as a CSV file
bio_data.to_csv("bio_data2.csv", index=False)

In [78]:
bio_data["Course_Track"].unique()

array(['Data Science', 'Cloud Computing', 'Cybersecurity', 'AI',
       'Web Dev'], dtype=object)

In [79]:
bio_data["First_Name"].nunique()

20

In [80]:
# What is the total numbers of students taking each track?
track_count = bio_data.groupby("Course_Track").agg({"First_Name":"count"})
track_count

                 First_Name
Course_Track
AI                        4
Cloud Computing           4
Cybersecurity             3
Data Science              6
Web Dev                   3

In [82]:
# What is the total number of students having the same numbers of PC_make
bio_data.groupby("PC_make")["PC_make"].count()

PC_make
Apple     3
Asus      4
Dell      5
HP        5
Lenovo    3
Name: PC_make, dtype: int64

In [84]:
bio_data.groupby('Course_Track').agg({'First_Name': 'count', 'PC_make': 'count'})

                 First_Name  PC_make
Course_Track
AI                        4        4
Cloud Computing           4        4
Cybersecurity             3        3
Data Science              6        6
Web Dev                   3        3

In [85]:
# What city are track from each track from?
bio_data.groupby('Course_Track').agg({'City': 'sum'})

                                                  City
Course_Track
AI                         EnuguAbeokutaAbeokutaIbadan
Cloud Computing                 AbujaBeninAbujaOnitsha
Cybersecurity                         IbadanBeninLagos
Data Science     LagosKanoLagosPort HarcourtJosCalabar
Web Dev                     Port HarcourtAbeokutaBenin

In [86]:
# What types of OS do students in each track use?
bio_data.groupby('Course_Track').agg({'PC_Os': 'sum'})

                                                PC_Os
Course_Track
AI                           WindowsLinuxWindowsLinux
Cloud Computing                  LinuxMacOSMacOSLinux
Cybersecurity                     WindowsMacOSWindows
Data Science     WindowsLinuxLinuxWindowsMacOSWindows
Web Dev                             WindowsMacOSLinux

In [87]:
female_group = bio_data.groupby('Gender').get_group('Female')
female_group

   First_Name Last_Name  Gender  Seat_No           City     Course_Track PC_make    PC_Os   Feedback
1       Aisha     Bello  Female      102          Abuja  Cloud Computing    Dell    Linux  Excellent
4      Fatima  Abubakar  Female      105           Kano     Data Science   Apple    Linux       Poor
6       Ngozi   Collins  Female      107  Port Harcourt          Web Dev    Dell  Windows       Good
10        Ada      Umeh  Female      111          Lagos     Data Science      HP    Linux       Good
12      Mercy      Musa  Female      113          Lagos    Cybersecurity  Lenovo  Windows    Average
14     Zainab  Mohammed  Female      115          Abuja  Cloud Computing    Dell    MacOS       Good
16       Kemi   Adebayo  Female      117          Benin          Web Dev    Dell    Linux  Excellent
18      Funmi  Williams  Female      119        Calabar     Data Science    Asus  Windows       Good

In [88]:
female_group["Course_Track"].value_counts()

Course_Track
Data Science       3
Cloud Computing    2
Web Dev            2
Cybersecurity      1
Name: count, dtype: int64

In [90]:
gender_size = bio_data.groupby("Gender").size()
gender_size

Gender
Female     8
Male      12
dtype: int64

In [91]:
gender_size = bio_data.groupby("Course_Track").size()
gender_size

Course_Track
AI                 4
Cloud Computing    4
Cybersecurity      3
Data Science       6
Web Dev            3
dtype: int64

In [93]:
# This will help you to search and return the index of the specified group member
# by_city = bio_data.groupby("City")
# by_city.groups["Lagos"]

# or

bio_data.groupby("City").groups["Lagos"]

Index([0, 10, 12], dtype='int64')

### H. Data Reshaping

Reshaping data is a key part of data manipulation in pandas. It involves changing the layout or structure of the dataframe without altering the data.

Below are a few, if you are curious, you can do a little bit of research on reshaping pandas dataframe.

```c
pivot() #This is used for reshaping the dataframe. It summerizes you table just like it is in excel spreadsheet.
```


```c
pivot_table() #
```

```c
melt() # converts dataframe from wide format to long format
```

```c
.T # This is used for transposing your dataframe, that is, swapping the rows and the columns
```

LEts take one example here, if time permits, we will solve more examples using a dataset where we can apply this concept.

In [94]:
# Note that is just an illustration of what is possible. It deos not make sense to the mean of Seat_No
pivot_table = pd.pivot_table(bio_data,
                             index='Gender',
                             columns='Course_Track',
                             values='Seat_No',
                             aggfunc='mean')
print("Pivot Table of Average Seat_No by Gender and Course_track:")
pivot_table

Pivot Table of Average Seat_No by Gender and Course_track:

Course_Track     AI  Cloud Computing  Cybersecurity  Data Science  Web Dev
Gender
Female          NaN            108.5          113.0    111.666667    112.0
Male          109.0            113.0          106.0    111.666667    112.0

In [95]:
# Lets transpose this
pivot_table.T

Gender               Female        Male
Course_Track
AI                      NaN  109.000000
Cloud Computing  108.500000  113.000000
Cybersecurity    113.000000  106.000000
Data Science     111.666667  111.666667
Web Dev          112.000000  112.000000

### I. Merging and Joining

Both merging and joining are important techniques that allows you to combine two or more DataFrames based on common columns or indexes.

I will list examples of those functions below and their use cases

```c
pd. merge()
```
The merge function give us the SQL feel of joining. We can do inner, left, right, and outer join.
Using merge, we must join both dataframes usinga common column.

In [97]:
# Lets add more details to our bio_data2 dataset by create a new one.

course_data = {
    'Course_Track': ['Data Science', 'Web Dev', 'Cybersecurity', 'AI', 'Cloud Computing'],
    'Duration': ['8 months', '4 months', '5 months', '7 months', '6 months'],
    'Fee': [600000, 350000, 450000, 550000, 500000]
}
course_df = pd.DataFrame(course_data)

# both bio_data and course_data have "Course_Track" in common

# Merge the two DataFrames on Course_Track (inner join by default)
merged_df = pd.merge(bio_data, course_df, on='Course_Track')
print("Merged DataFrame (Inner Join on Course_Track):")
merged_df.head()

Merged DataFrame (Inner Join on Course_Track):

  First_Name Last_Name  Gender  Seat_No    City     Course_Track PC_make    PC_Os   Feedback  Duration     Fee
0      Emeka    Julius    Male      101   Lagos     Data Science      HP  Windows       Good  8 months  600000
1      Aisha     Bello  Female      102   Abuja  Cloud Computing    Dell    Linux  Excellent  6 months  500000
2        Ayo   Adewale    Male      103  Ibadan    Cybersecurity      HP  Windows  Excellent  5 months  450000
3    Chinedu  Godswill    Male      104   Enugu               AI    Asus  Windows       Good  7 months  550000
4     Fatima  Abubakar  Female      105    Kano     Data Science   Apple    Linux       Poor  8 months  600000

In [ ]:
# Left join: keep all rows from df
left_joined = pd.merge(bio_data, course_df, on='Course_Track', how="left")
print("Left Joined DataFrame:")
left_joined.head()

# Observe the output, it seems to be the same with the one above

Left Joined DataFrame:

  First_Name Last_Name  Gender  Seat_No    City     Course_Track PC_make    PC_Os   Feedback  Duration     Fee
0      Emeka    Julius    Male      101   Lagos     Data Science      HP  Windows       Good  8 months  600000
1      Aisha     Bello  Female      102   Abuja  Cloud Computing    Dell    Linux  Excellent  6 months  500000
2        Ayo   Adewale    Male      103  Ibadan    Cybersecurity      HP  Windows  Excellent  5 months  450000
3    Chinedu  Godswill    Male      104   Enugu               AI    Asus  Windows       Good  7 months  550000
4     Fatima  Abubakar  Female      105    Kano     Data Science   Apple    Linux       Poor  8 months  600000

____________________________________________________
**Hands On Practice**

Try out both right and outer join. Ensure to observe the output and note anything thats seems usual or unusual.
___________________________________________________

In [101]:
right_joined = pd.merge(bio_data, course_df, on="Course_Track", how="right")
print("Right joined DataFrame")
right_joined.head()

Right joined DataFrame

  First_Name Last_Name  Gender  Seat_No           City  Course_Track PC_make    PC_Os Feedback  Duration     Fee
0      Emeka    Julius    Male      101          Lagos  Data Science      HP  Windows     Good  8 months  600000
1     Fatima  Abubakar  Female      105           Kano  Data Science   Apple    Linux     Poor  8 months  600000
2        Ada      Umeh  Female      111          Lagos  Data Science      HP    Linux     Good  8 months  600000
3     Donald       Obi    Male      116  Port Harcourt  Data Science      HP  Windows  Average  8 months  600000
4      Usman  Suleiman    Male      118            Jos  Data Science  Lenovo    MacOS     Good  8 months  600000

In [103]:
outer_joined = pd.merge(bio_data, course_df, on='Course_Track', how='outer')
print('Outer Joined DataFrame')
outer_joined.head()

Outer Joined DataFrame

  First_Name Last_Name  Gender  Seat_No      City     Course_Track PC_make    PC_Os   Feedback  Duration     Fee
0    Chinedu  Godswill    Male      104     Enugu               AI    Asus  Windows       Good  7 months  550000
1       Tolu  Ogunleye    Male      108  Abeokuta               AI  Lenovo    Linux    Average  7 months  550000
2      Yusuf     Garba    Male      110  Abeokuta               AI   Apple  Windows  Excellent  7 months  550000
3      Segun   Balogun    Male      114    Ibadan               AI    Asus    Linux  Excellent  7 months  550000
4      Aisha     Bello  Female      102     Abuja  Cloud Computing    Dell    Linux  Excellent  6 months  500000

There is also another function called .join() method;

```c
.join()
```
This method comes handy when you want to join usinh index. It a convinient way to combine DataFrames that share a common index.

Lets create a new dataset and try joining it with ouir existing dataset

In [104]:
# Create a city Dataframe with details for each unique in your bio dataset
city_data = {
    'City': ['Lagos', 'Abuja', 'Ibadan', 'Enugu', 'Kano', 'Benin', 'Port Harcourt', 'Abeokuta', 'Jos', 'Calabar', 'Onitsha'],
    'Population': [14000000, 3000000, 5000000, 4000000, 3500000, 2000000, 2500000, 800000, 600000, 500000, 900000],
    'Region': ['South West', 'Federal Capital Territory', 'South West', 'South East', 'North West',
               'South South', 'South South', 'South West', 'North Central', 'South South', 'South East']
}

city_df = pd.DataFrame(city_data)

# Lets set index for the dataset before joining
df_indexed = city_df.set_index("City")

In [105]:
# lets join this with merged_df
joined_df = df_indexed.join(merged_df, how='left')
print("Joined DataFrame using .join():")
joined_df.head()

# Ensure to note the output

Joined DataFrame using .join():

        Population                     Region First_Name Last_Name Gender  Seat_No City Course_Track PC_make PC_Os Feedback Duration  Fee
City
Lagos     14000000                 South West        NaN       NaN    NaN      NaN  NaN          NaN     NaN   NaN      NaN      NaN  NaN
Abuja      3000000  Federal Capital Territory        NaN       NaN    NaN      NaN  NaN          NaN     NaN   NaN      NaN      NaN  NaN
Ibadan     5000000                 South West        NaN       NaN    NaN      NaN  NaN          NaN     NaN   NaN      NaN      NaN  NaN
Enugu      4000000                 South East        NaN       NaN    NaN      NaN  NaN          NaN     NaN   NaN      NaN      NaN  NaN
Kano       3500000                 North West        NaN       NaN    NaN      NaN  NaN          NaN     NaN   NaN      NaN      NaN  NaN