Perform dda

for loc and iloc, argument 1 is for rows while argument 2 is for columns

the main purpose of the loc and iloc is for indexing

Using loc

[0,2,4,6]

Using iloc

Indexing columns... this one is having first arguement for the row and second arguement for the column using column names 0r strings

Indexing columns... this one is having first arguement for the row and the second arguement  for row but takinng the idex number

Slicing using iloc and loc

Using loc...

In [1]:
# Lets use loc and iloc to slice columns...
# Pick from row 0 to 4, and column 1 to 3..

In [2]:
# Using iloc for integer or index numbers

In [ ]:
# sales.iloc[0:-1,1:4]

In [3]:
# lets work with index...using loc and iloc...

In [4]:
# list af all the locations or countries where all the customers purchase from...

In [5]:
# top 10 countries or locations where most patronage are recieved...

In [6]:
# print out the number of unique country

In [7]:
# print out the column

In [ ]:
# select a country using loc

In [9]:
# using iloc, select section (head(3))

In [10]:
# Filtering/ Masking...
# Using Booleans "AND" & "OR"
# AND in pandas is written as "&"
# OR in pandas is written as "|"
#-------------------------------------------------#

In [11]:
# filter with customer id

In [12]:
# Total number of customers

In [13]:
# Top 20 custommers with the highest purchases....

In [14]:
# lets pick one of these customers and see their behaviour

In [15]:
# give me mask , but from colunm customer_id to currency

In [16]:
# print the unique currency

In [17]:
# print currency and number of time used

In [18]:
## Applying multiple filters....
# here we would be using the "&" and "|" operators...
# We have picked out the this particular customer... and the successful  transaction

In [19]:
# loc the customer above

In [20]:
# lets see the numbers of sucessful transaction carried out by this customer

In [21]:
# lets filter out the transaction... (where it faild)

In [22]:
# LEts find out the numbers of failed transaction as compared to others...

In [ ]:
# Does the currency have effect on the status of currency...? hint (groupby)

In [24]:
# sales.loc[index=='Korea']
# Since sales is index, the above code will not work for subsetting Korea

In [25]:
# dda one the above korean data frame

In [26]:
# Lets find out the status of transaction in Korea

In [27]:
# lets check the total numbers of failed transactions

In [28]:
# out of this 1,982 customers that experiences failed transaction lets see the numbers of unique customers that there...

In [29]:
# we have 11 customers who have experienced failed transactions of 1,982
# LEts see who this customers are...

In [30]:
# I would pick each of the customers and check if I can find what really happened...

In [31]:
# Here we are looking at an individual customer...

In [32]:
# How many transactions did this customer made that ended up failing

In [33]:
# This particular customer attempted 198 transactions that failed
# What currency was he using to carry out his transactions?

In [ ]:
# This customer uses US Dollars($) for transactions...could payment method have associated to the challenge?
# I might still come back to this, to comparw if this customer has any successful transaction...

In [34]:
# Unfortunately, this customer never had any "Successful" transation..>
# LEts dig further and check the event time stamp and see if we can discover anything there..